adium-theme-ubuntu==0.3.4
amqp==1.4.9
anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.25
celery-with-redis==3.0
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
decorator==4.1.2
Django==1.11.7
django-appconf==1.0.2
django-celery==3.1.17
django-compressor==2.2
django-cors-headers==2.1.0
django-filter==1.1.0
django-filters==0.2.1
django-haystack==2.6.1
django-rest-framework==0.1.0
django-tinymce==2.6.0
djangorestframework==3.7.3
docx==0.2.4
enum34==1.1.6
future==0.16.0
happybase==1.1.0
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
jieba==0.39
kombu==3.0.37
lxml==4.1.1
minepy==1.2.1
mysql==0.0.1
MySQL-python==1.2.3
numpy==1.13.3
olefile==0.44
opencv-python==3.3.0.10
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
Pillow==9.0.0
ply==3.10
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
PyHive==0.5.0
PyMySQL==0.7.11
python-docx==0.8.6
pytz==2017.2
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
rjsmin==1.0.12
scandir==1.6
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
thrift==0.10.0
thriftpy==0.3.9
traitlets==4.3.2
unity-lens-photos==1.0
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
Whoosh==2.7.4
win-unicode-console==0.5
