<!-- 家用电器 -->
    <div class="floor wbox edit-mode"  data-title="家用电器" >
                 <div class="ct temp0">
                    <div class="mt" style="border-bottom:1px solid #7f86ec">
                        <div class="mtTop"><h2>家用电器</h2></div>
                        <ul class="tab" floor-info="3" hcolor="#7f86ec">
                             {% for currsale in saleproperty_dianqi %}
                                <li  class="tabdianqiproperty" data-id="{{ currsale.id}}">
                                  <a href="javascript:void(0);" data-id="{{ currsale.id}}">{{ currsale.pname}}</a>
                                </li>
                            {% endfor%}
                        </ul>
                    </div>
                    <div class="mc">
                        <div class="mc_l" style="background: #7f86ec">
                                <a class="mc_l_img edit-mode" href=""  target="_blank"  modeltype="2">
                                    <img class="lazyloading" src="/static/img/T1vwC_BXhv1RCvBVdK.jpg"  title="" height="278" width="220"></a>
                                <div class="keyAll">
                                    <div class="channelbg">
                                        <div class="channel" style="background: #7179ea">
                                                <ul class="channel_inner">
                                                        <li class="edit-mode" >
                                                            {% for currcategory in category_dianqi2 %}
                                                          <a href="{% url 'category' %}?topcatename=家用电器&topid=3&seccateid={{currcategory.id }}&selcatename={{ currcategory.name }}" target="_blank" data-code="{{ currcategory.id}}">{{ currcategory.name}}</a><span>/</span>
                                                            {% endfor%}
                                                        </li>
                                                </ul>
                                        </div>
                                    </div>
                                    <div class="keywords edit-mode"  >
                                        <ul class="w55">
                                             {% for dianqichild in category_dianqichild %}
                                                <li class="">
                                                    <a href="{%url 'category' %}?topcatename=家用电器&thirdid={{ dianqichild.id }}&selcatename={{ dianqichild.name}}" target="_blank" data-code="{{ dianqichild.id}}">{{ dianqichild.name}}</a>
                                                </li>
                                            {% endfor%}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                        <div class="main_warp">
                         {% for currsale in saleproperty_dianqi %}
                          {% if currsale.pname == '精选热卖' %}
                            <div id="dianqiproperty-{{ currsale.id}}" class="main dianqiproperty" style="display: block;" tab-data-load="0">
                                    <div class="mc_c " style="">
                                            <ul class="slider edit-mode" >
                                                    <li style="display: block;">
                                                        <a href=""  target="_blank">
                                                            <img  src="/static/img/T1ogZ_B7xT1RCvBVdK.jpg"  height="470" width="389">
                                                        </a>
                                                    </li>
                                            </ul>
                                        <div class="brand_slider edit-mode" >
                                                <ul style="display: block;">
                                                        <li><a href=""  target="_blank" title="">
                                                            <img src="/static/img/T1wcCTBCxT1RCvBVdK.jpeg"  height="30" width="100"></a>
                                                        </li>
                                                        <li><a href="" target="_blank" title="苹果">
                                                            <img src="/static/img/T10zEjBXDT1RCvBVdK.jpg"  height="30" width="100"></a>
                                                        </li>
                                                        <li><a href=""  target="_blank" title="华硕">
                                                            <img src="/static/img/T1ZIJvBbhg1RCvBVdK.jpg"  height="30" width="100"></a></li>

                                                        <li><a href=""  target="_blank" title="">
                                                            <img src="/static/img/T10oETB7Vv1RCvBVdK.jpeg"  height="30" width="100"></a></li>

                                                        <li><a href=""  target="_blank" title="thinkpad">
                                                            <img src="/static/img/T1z9dQBXYT1RCvBVdK.jpg"   height="30" width="100"></a></li>

                                                        <li><a href=""  target="_blank" title="神舟">
                                                            <img src="/static/img/20161117111748.jpg" height="30" width="100"></a></li>
                                                 </ul>
                                        </div>
                                    </div>
                                <div class="mc_r">
                                    <ul class="mc_r_inner edit-mode" >
                                          {% for dianqihot in products_dianqi %}
                                             {% if dianqihot.saleproperty.pname == '精选热卖' %}
                                                <li>
                                                <a href="{% url 'product_detail'%}?productid={{ dianqihot.id}}"  target="_blank">
                                                  <span >
                                                     <img class="lazyloading hotimage" src="{{ dianqihot.image.url}}"   title="" >
                                                  </span>
                                                  <p class="item-price">
                                                      <span class="price asynPrice" >¥{{ dianqihot.saleprice}}</span>	            	            	            	                                              </p>
                                                  <p class="item-name">{{ dianqihot.name}}</p>
                                                </a>
                                            </li>
                                             {% endif%}
                                          {% endfor%}
                                    </ul>
                                </div>
                            </div>
                         {% else %}
                             <div id="dianqiproperty-{{ currsale.id}}" class="main dianqiproperty"  style="display: none;">
                                <ul class="main_inner">
                                    {% for products in products_dianqi %}
                                         {% if currsale.id == products.saleproperty.id %}
                                          <li>
                                              <a href="{% url 'product_detail'%}?productid={{ products.id}}"  target="_blank" title="">
                                                  <img class="lazyloading" src="{{ products.image.url}}" alt="" height="130" width="130">
                                                  <p class="p_name">{{ products.name}}</p>
                                                  <p class="p_price" ><span>¥</span>{{ products.saleprice}}</p>
                                              </a>
                                          </li>
                                         {% endif%}
                                    {% endfor%}
                                </ul>
                             </div>
                         {% endif %}
                      {% endfor%}
                        </div>
                    </div>
                </div>
            </div>