/*
| ----------------------------------------------------------------------------------
| Breadcrumb
| ----------------------------------------------------------------------------------
*/
@font-face {
    font-family: "tb-iconfont";
    src: url("//at.alicdn.com/t/font_1444889156_383075.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1444889156_383075.woff") format("woff"), url("//at.alicdn.com/t/font_1444889156_383075.ttf") format("truetype"), url("//at.alicdn.com/t/font_1444889156_383075.svg#iconfont") format("svg");
}
.breadcrumb-container {
    margin-top: 10px;
}
.products-view .breadcrumb-container {
	height: 100px;
}
.bc {
	font-size: 14px;
	height: 30px;
    font-weight: 700;
}
.bc.push-up {
	position: absolute;
	top: 0;
	left: 0;
}
.bc > li {
	float: left;
	margin-left: 1em;
	color: #919191;
	padding-top: 5px;
}
.bc > li:before {
	content: '/';
	margin-right: 1em;
}
.bc > li:first-child {
	margin-left: 0;
}
.bc > li:first-child:before {
	content: none;
}
.bc a {
	color: #919191;
}
.bc a:hover {
	color: #FA6F57;
}
.bc .active {
	color: #1f1f1f;
}


/*
| ----------------------------------------------------------------------------------
| Sidebar
| ----------------------------------------------------------------------------------
*/
.sidebar:not(.push-up) .side-section:first-child {
	margin-top: 50px;
}
.sidebar .side-section {
	position: relative;
	margin: 0 0 30px;
}
.side-section.bg-white {
	background: #fff;
}
.sidebar.push-up,
.products-wrapper {
	position: relative;
	top: -90px;
}
.sidebar .side-section-header {
	padding: 7px 15px;
	background: #fa6f57;
	text-align: center;
}
.sidebar .side-section-title {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}
.sidebar .side-section-content {
	padding: 30px 24px;
	height: auto;
}
.sidebar .side-section-footer {
	padding: 0 24px 30px;
}
.sidebar .side-section-subheader {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}


.vmenu .fakeInput {
	display: block;
	position: relative;
}
.vmenu > li > .prettycheckbox {
	font-size: 14px;
}
.vmenu li:first-child {
	margin-top: 0;
}
.vmenu li {
	margin-top: 0.25em;
}
.vmenu > li > .prettycheckbox label {
	text-transform: uppercase;
}
.vmenu ul {
	font-size: 12px;
	list-style: none;
	margin: 10px 0 15px 24px;
}
.vmenu,
.vmenu a {
	color: #919191;
}
.vmenu .checked,
.vmenu .checked a {
	color: #1f1f1f;
}
.vmenu a:hover {
	color: #fa6f57;
}

.filter-checkbox {
	display: none;
}
#filter-by-color .color-box {
	border-color: transparent;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
#filter-by-color .color-box:hover,
#filter-by-color .color-box.active {
	opacity: 1;
	filter: alpha(opacity=100);
}


.products-header .round-icon {
	padding: 2px;
}
.mix-item.loading .product .entry-media {
	min-height: 150px;
	background: #ccc url(../img/AjaxLoader2.gif) no-repeat center center
}
.products-layout {
	margin-left: 0px;
	margin-right: 0px;
    overflow: hidden;
}
.products-layout .mix-item {
    width: 292px;
	padding: 0px;
	float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.products-layout.list .product {
	background: #fff;
	text-align: justify;
}
.products-layout.list .entry-media {
	width: 25%;
}
.products-layout.list .entry-main {
	width: 75%;
	margin-left: -5px;
	padding: 1.5em 2em;
	text-align: left;
}
.products-layout.list .entry-media,
.products-layout.list .entry-main {
	display: inline-block;
	vertical-align: top;
}
.products-layout.list .hover {
	background: none !important;
}
.products-layout.list .hover .icons .circle:not(.ribbon),
.products-layout.list .hover .rate-bar {
	display: none;
}
.products-layout.list .entry-title {
	text-align: left;
}
.products-layout.list .entry-links {
	float: left;
}
.product .visible-list {
	display: none;
}
.products-layout.list .visible-list {
	display: block;
}
.product .visible-grid {
	display: none;
}
.products-layout.grid .visible-grid {
	display: block;
}
.products-layout.list .entry-main > * {
	margin-right: 175px;
}
.products-layout.list .entry-price {
	position: absolute;
	top: 0;
	right: -150px;
	width: 150px;
	height: 100%;
	text-align: center;
	line-height: 2;
	padding: 25px 0 25px 25px;
	margin-left: 25px;
	border-left: 1px solid #ddd;
}
.products-layout.list .add-to-cart {
	margin-top: 20px;
}


/*
| ----------------------------------------------------------------------------------
| Product Details Single Page
| ----------------------------------------------------------------------------------
*/

.row {
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    overflow: hidden;
    height: auto;
}
.tb-title {
    padding: 20px 0 10px !important;
}
.tb-title {
    padding: 20px 0 15px;
    position: relative;
}
.product-preview {
	position: relative;
	overflow: hidden;
	zoom: 1;
}
.product-preview .big-image {
	width: 360px;
	height: 360px;
	overflow: hidden;
	zoom: 1;
}
.product-preview .big-image img {
	width: 360px;
	height: 360px;
}
.product-preview .thumbs {
	position: absolute;
	top: 0;
	right: 0;
}
.product-preview .thumbs > li {
	margin-top: 5px;
}
.product-preview .thumbs > li:first-child {
	margin-top: 0;
}
.product-preview .thumbs > li > a {
	display: block;
	width: 84px;
	height: 84px;
	border: 3px solid #919191;
	border-radius: 50%;
	overflow: hidden;
}
.product-preview .thumbs > li > a:hover {
	border-color: #fa6f57;
}


.product-details {
	margin-left: 30px;
}
.product-details .entry-title {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    min-height: 21px;
}
.entry-header{
	height: 66px;
	padding-top: 15px;
}
.product-details .subheader {
	font-size: 0.925em;
	font-weight: 600;
	margin: 10px 0;
}
.product-details .entry-title,
.product-details .subheader,
.product-details a:not(.btn) {
	color: #1f1f1f;
}
.product-details a:not(.btn):hover {
	color: #fa6f57;
}
.product-details .entry-content {
	font-size: 12px;
}
.product-details .entry-content p {
	color: #919191;
	line-height: 2;
}
.grid-s5m0 {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    z-index: 2;
}
.col-main {
    float: left;
    min-height: 1px;
    width: 100%;
}
.col-main #mainwrap {
    width: 790px;
}
#mainwrap {
    overflow: hidden;
}
.grid-s5m0 .main-wrap, .grid-m0s5 .main-wrap {
    width: 1000px;
}
.grid-s5m0 .main-wrap {
    margin-left: 200px;
}
#J_TabBarBox {
    border: 1px solid #dfdfdf;
    width: 1000px;
    z-index: 9999;
}
#J_TabBar {
    height: 48px;
    position: relative;
    width: 100%;
}
#J_TabBar, .tabbar-bg {
    background-color: #fff;
}

#J_TabBar .tm-selected::after {
    border-color: #ff0036 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: " ";
    display: block;
    font-family: arial;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -1px;
    width: 0;
}
#J_TabBar .tm-selected {
    border-top: 2px solid #ff0036;
    height: 47px;
    margin: -1px 0 0 -1px;
    padding: 0;
    position: relative;
    z-index: 1;
}
#J_TabBar li {
    cursor: pointer;
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: -1px;
}
#J_TabBar .tm-selected a {
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
    color: #ff0036;
    display: block;
    font-weight: 700;
    height: 100%;
    line-height: 46px;
}
#J_TabBar a {
    border-right: 1px dotted #d2d2d2;
    color: #333;
    padding: 0 20px;
}
#J_TabBar a, #J_TabBar a:hover {
    text-decoration: none;
}
#J_TabBar .tm-qrcode-icon {
    float: right;
    padding: 0;
    position: relative;
    width: 160px;
    z-index: 10;
}
.tabbar-bg {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 49px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0px);
    z-index: 99;
}
#J_TabBar, .tabbar-bg {
    background-color: #fff;
}

.tm-welfare-detail .charityTreasure {
    border-color: #e2e2e2;
}
.tb-welfare-detail .charityTreasure, .tm-welfare-detail .charityTreasure {
    background-color: #fff;
    border: 1px solid #32ad38;
    color: #333;
    height: 90px;
    padding: 15px;
}
#attributes div.attributes-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e6e6e6 #e6e6e6;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: both;
    margin-bottom: 10px;
}
#J_BrandAttr {
    border-top: 1px solid #e6e6e6;
    height: 40px;
    line-height: 40px;
    padding: 8px 20px 10px;
}
#content .attr-list-hd {
    color: #999;
    line-height: 22px;
    padding: 5px 20px;
}

#J_BrandAttr .name {
    color: #666;
    float: left;
    margin-right: 15px;
}
#content .attr-list-hd {
    color: #999;
    line-height: 22px;
    padding: 5px 20px;
}
#attributes .attributes-list ul {
    border-top: 1px solid #fff;
    padding: 0 20px 18px;
    text-indent: 0;
}
#attributes .attributes-list li {
    color: #666;
    display: inline;
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 10px 15px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 220px;
}
#J_DcBottomRightWrap, #J_DcTopRightWrap {
    overflow: hidden;
    position: relative;
    width: 100%;
}
#content .J_DcAsyn {
    background-color: #fff;
}
.tshop-pbsm-shop-self-defined {
    margin-bottom: 10px;
}

#content .col-sub {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.grid-s5m0 .col-sub {
    float: left;
    width: 190px;
    overflow: hidden;
    position: relative;
}
#content .J_DcAsyn {
    background-color: #fff;
}
#J_DcShopArchive {
    height: 170px;
    margin-bottom: 10px;
}
#J_DcLeft, #J_DcShopArchive {
    overflow: hidden;
    width: 190px;
}
#J_DcShopArchive {
    height: auto !important;
}
#side-shop-info {
    border: 1px solid #e5e5e5;
    padding: 0 0 15px;
}
#side-shop-info .shop-intro {
    background-color: #fff;
}
#side-shop-info .hd {
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 15px;
}

#side-shop-info .shop-ages .icon {
    background-color: #f04343;
    color: #ffd800;
    height: 18px;
    margin-left: 3px;
    margin-right: 8px;
    text-align: center;
    width: 18px;
}
#side-shop-info .shop-cert .icon, #side-shop-info .shop-cert .icon:hover {
    float: left;
    text-decoration: none;
}
#side-shop-info .btnArea .enterShop, #side-shop-info .btnArea .enterShop:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    text-decoration: none;
}
#side-shop-info .btnArea .enterShop, #side-shop-info .btnArea .favShop {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 70px;
}
#side-shop-info .btnArea {
    margin: 15px auto 0;
    overflow: hidden;
    width: 150px;
}
#side-shop-info .btnArea .favShop {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #333;
    float: right;
    text-decoration: none;
}
#side-shop-info .btnArea .enterShop, #side-shop-info .btnArea .favShop {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 70px;
}
#content .col-sub {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#J_DcLeft .col-sub {
    margin-left: 0;
}
.tshop-pbsm-shop-srch-inshop::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.col-sub .tshop-pbsm-shop-srch-inshop, .col-extra .tshop-pbsm-shop-srch-inshop {
    background: #fff none repeat scroll 0 0;
    height: auto;
}
.tshop-pbsm-shop-srch-inshop {
    background-color: #dbdbdb;
    height: 48px;
    margin-bottom: 10px;
}
#content .J_DcAsyn {
    background-color: #fff;
}
#J_DcLeft, #J_DcShopArchive {
    overflow: hidden;
    width: 190px;
}
#J_DcFt, #J_DcLeft {
    position: relative;
}
#side-shop-info .main-info .shopdsr-score {
    color: #ff0036;
    height: 18px;
    overflow: hidden;
    padding-left: 5px;
    position: relative;
    width: 31px;
}
#side-shop-info .main-info .shopdsr-title {
    font-family: "宋体";
    text-align: center;
}
#side-shop-info .main-info .shopdsr-item {
    color: #999;
    float: left;
    height: 36px;
    margin: 15px 7px 0 0;
    position: relative;
    width: 36px;
}
#side-shop-info .main-info {
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 130px;
}
#side-shop-info .shop-cert {
    margin: 10px auto 5px;
    overflow: hidden;
    width: 130px;
}
#side-shop-info .hd .shopLink {
    color: #333;
    font-size: 12px;
}
.tb-meta {
    background-color: #fff2e8;
    padding: 10px;
    min-height: 35px;
    height: auto;
    position: relative;
    z-index: 100000;
    overflow: hidden;
}
.tb-detail-price {
    margin-bottom: 5px;
}
.tb-meta li {
    margin-bottom: 0;
}
.tb-meta li {
    line-height: 24px;
    margin-bottom: 2px;
}
.tb-meta .tb-property-type {
    color: #6c6c6c;
    display: inline;
    float: left;
    width: 60px;
}
.tb-meta .tb-booking-price, .tb-meta .tb-detail-price {
    line-height: 30px;
    width: 360px;
}
.tb-promo-price {
    line-height: 26px;
}
.tb-detail-price {
    margin-bottom: 5px;
}
.tb-meta li {
    margin-bottom: 0;
}
.tb-promo-price {
    width: auto;
}
.tb-meta .tb-promo-price .tb-property-cont {
    width: 360px;
}
.tb-meta .tb-promo-price .tb-property-cont {
    margin-bottom: -5px;
}
.tb-meta .tb-promo-price .tb-property-cont {
    display: inline;
    float: left;
    overflow: visible;
	margin-left: 60px; margin-top: -25px;
}

.tb-promo-hd .tb-promo-price {
    color: #f40;
    display: inline;
    float: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-right: 5px;
    padding: 0;
    position: static;
    vertical-align: baseline;
}

.tb-promo-hd .tb-promo-type {
    margin-top: 5px;
}
.tb-promo-hd .tb-promo-type, #detail .tb-property-x .tb-promo-bd span {
    display: inline;
    float: left;
}
.tb-promo-type {
    background: #ff8e1b none repeat scroll 0 0;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
}
.tb-property-type {
    position: relative;
    top: 5px;
}
.tb-other-discount .tb-coupon {
    line-height: 25px;
    vertical-align: middle;
}
.tb-other-discount .tb-coupon a {
    border-bottom: 1px dotted #f40;
    color: #f40;
    margin-left: 5px;
}
.tb-meta .tb-property-type {
    color: #6c6c6c;
    display: inline;
    float: left;
    width: 60px;
}
.tb-promo-hd .tb-promo-price {
    color: #f40;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.tb-promo-meta .tb-promo-price {
    line-height: 26px;
}
.tb-promo-meta .tb-other-discount {
   margin-top: 30px; padding-top: 10px;
}
.tb-other-discount {
    background-color: #fff9f5;
    color: #3c3c3c;
    font-size: 12px;
    line-height: 15px;
    margin: 10px -10px -10px;
    padding: 0 10px 5px 70px;
}

.tb-property-x .tb-promo-meta .tb-other-discount {
    margin: 4px -10px -10px;
}
.tb-property-x .tb-other-discount {
    background-color: #fff9f5;
    color: #3c3c3c;
    font-size: 12px;
    line-height: 15px;
    margin: 10px -10px -10px;
    padding: 0 10px 5px 70px;
}
.tb-logistic {
    margin-bottom: 5px;
    margin-top: 5px;
}
 .tb-logistic .tb-property-type {
    color: #6c6c6c;
    display: inline;
    float: left;
    line-height: 24px;
    width: 60px;
	 padding-left: 10px; top: 0px;
}
.sep-line {
    margin: 0 0 10px;
}
.sep-line {
    border-bottom: 1px dotted #d9d9d9;
    height: 1px;
    margin: 10px 0 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.tb-key {
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 18px;
}
.tb-key {
    border: 1px solid #fff;
    margin: -9px 0 29px -9px;
    padding: 9px 0 0 9px;
    position: relative;
	z-index: 6;
    }
.tb-key dl {
    margin-bottom: 10px;
}
.tb-key dl dd {
    overflow: hidden;
}
.tb-key .tb-stock {
    float: left;
    position: relative;
}
.tb-key dl dt {
    color: #6c6c6c;
    float: left;
    margin-right: 5px;
    width: 55px;
}
.tb-key .tb-skin {
    position: relative;
}
.tb-logistic-info {
    overflow: hidden;
}

.tb-stock a,.tb-stock a:hover {
    background-color: #ededed;
    border: 1px solid #ccc;
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 26px;
}
.tb-stock .tb-stock-num, .tb-stock input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #666;
    float: left;
    font-size: 16px;
    height: 26px;
    ime-mode: disabled;
    line-height: 26px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-align: center;
    width: 48px;
}
.tb-stock .tb-increase {
    border-left: 0 none !important;
    margin-right: 8px;
}
.tb-stock a, .tb-stock a:hover {
    background-color: #ededed;
    border: 1px solid #ccc;
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 26px;
}
.tb-iconfont {
    -moz-user-select: none;
    font-family: tb-iconfont !important;
    font-size: 12px;
    font-style: normal;
}
.tb-amount {
    line-height: 28px;
}
.tb-action {
    margin-top: 20px;
}
.tb-action {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.tb-btn-buy {
    margin-right: 9px;
	float: left;
}

.tb-btn-add{
    float: left;
}
.tb-btn-add i {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
    vertical-align: bottom;
}
.tb-btn-buy input {
    background: #ffe4d0 none repeat scroll 0 0;
    border-color: #f0cab6;
    color: #e5511d;
}
.tb-btn-buy input,.tb-btn-add a,.tb-btn-wait a {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: block;
    font-family: "Hiragino Sans GB","microsoft yahei",sans-serif;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 134px;
}
.tb-prop li {
    background: #fff none repeat scroll 0 0;
    float: left;
    line-height: 20px;
    margin: 0 5px 10px 0;
    position: relative;
    vertical-align: middle;
}
.tb-prop li a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    min-width: 10px;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: border-color, background;
    white-space: nowrap;
}
.tb-btn-add a {
    background: #f40 none repeat scroll 0 0;
    border-color: #f40;
    color: #fff;
    width: 180px;
}
.wl-areainfo, .wl-serviceinfo {
    color: #3c3c3c;
    float: left;
    font-size: 12px;
    line-height: 24px;
    word-break: keep-all;
}
.product-details .entry-price {
	margin-right: 30px;
	font-size: 2em;
	font-weight: bold;
	color: #fa6f57;
}
.wl-servicetitle {
    margin-right: 3px;
}
.wl-addressinfo, .wl-servicetitle {
    background-color: #fff;
    border: 1px solid #fff;
    color: #3c3c3c;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    margin-right: 10px;
    padding: 0 3px;
}
.product-details .entry-review-count {
	color: #919191;
	font-size: 0.925em;
	margin-left: 5px;
}
.product-details .entry-meta {
	margin: 15px 0;
}
.product-details .entry-meta > li {
	margin-top: 4px;
}
.product-details .entry-meta > li:first-child {
	margin-top: 0;
}
.product-details .entry-meta li > * {
	display: inline-block;
	vertical-align: middle;
}
.product-details .entry-meta .key {
	width: 100px;
}
.product-details .entry-meta .value {
	color: #fa6f57;
}
.product-details .styled-dd {
	width: 220px;
}
.product-details .styled-dd select {
	width: 250px;
	font-size: 12px;
	padding: 0.5em 1.5em;
}

.comments-list {
	color: #1f1f1f; /* This is to force disqus load light theme appearance */
}


.tbl-cart {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 2px;
    border: 2px solid #e7e7e7;
}
.tbl-cart th {
	font-size: 14px;
	font-weight: normal;
	color: #919191;
	text-align: center;
	border-bottom: 3px solid #b2d1ff;
}
.tbl-cart td {
	position: relative;
	vertical-align: middle;
	height: 80px;
	padding: 0 10px;
	color: #1f1f1f;
}
.tbl-cart td > * {
	display: inline-block;
	vertical-align: middle;
}
.tbl-cart td:not(:last-child):after {
	position: absolute;
	top: 20%;
	right: 0;
	content: ' ';
	width: 1px;
	height: 60%;
}
.tbl-cart td:not(:first-child) {
	text-align: center;
}
.tbl-cart td:first-child {
	padding-left: 0;
}
.tbl-cart .entry-thumbnail {
	width: 60px;
}
.tbl-cart .entry-title {
	margin-left: 1.25em;
}
.tbl-cart .close {
	float: none;
	background: #1f1f1f;
	opacity: 1;
	color: #FFF;
	text-shadow: none;
	width: 16px;
	height: 16px;
	font-size: 14px;
	text-align: center;
}
.qty-btn-group {
	color: #919191;
	border: 2px solid #919191;
	border-radius: 1.5em;
	min-width: 85px;
}
.qty-btn-group > * {
	display: inline-block;
}
.qty-btn-group button {
	color: #919191;
	background: none;
	border: 0;
	margin: 0;
	width: 28px;
	height: 28px;
	text-align: center;
}
.qty-btn-group button:hover {
	color: #1f1f1f;
}
.qty-btn-group input {
	border: 0;
	margin: 0;
	padding: 0;
	width: 25px;
	text-align: center;
	background: none;
	font-size: 16px;
	color: #919191;
}
.empty-cart {
	font-size: 12px;
	text-align: center;
}


.shopcart-total {
	width: 350px;
	float: right;
	background: #ffffff;
	padding: 1.5em;
	border: 1px solid #ff0036;
}


.panel-title .step {
	display: inline-block;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	line-height: 32px;
	background-color: #e3e3e3;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	text-align: center;
	margin-right: 0.5em;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.panel-title > a:hover > .step {
	background: #1f1f1f;
	color: #fff;
}


.checkout {
	margin: 55px 0 0 0;
}
.checkout .stylish-input input[type="text"],
.checkout .stylish-input input[type="password"],
.checkout .stylish-input input[type="email"],
.checkout .stylish-input input[type="tel"],
.checkout .stylish-input select,
.checkout .stylish-input textarea {
	height: 26px;
}
.checkout .panel-body {
	padding: 20px;
	border: 1px solid #f2f2f2;
	border-top: 0 !important;
	background: #e3e3e3;
	font-size: 12px;
	color: #1f1f1f;
}
.checkout legend {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.checkout fieldset > .inner {
	padding: 15px;
}
.paymethod label {
	font-weight: 600;
}


/** Shop cart summary */
.shop-summary td,
.shop-summary th {
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 600;
}
.shop-summary th {
	text-align: right;
	text-transform: uppercase;
}
.shop-summary td {
	padding-left: 60px;
}
.shop-summary .total td,
.shop-summary .total th {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
}
.shop-summary .total td {
	color: #ff5757;
}



#store-locator-gmap { height: 400px; }

.store-list {
	font-size: 12px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
.store-list dt {
	float: left;
	font-weight: 600;
	margin-right: 10px;
	color: #1f1f1f;
}
.store-list dd {
	overflow: hidden;
	zoom: 1;
	color: #919191;
}
.store-list dt.phone {
	float: none;
	display: block;
}
.store-list .entry-title {
	font-size: 14px;
	font-weight: 600;
}
.store-list > li {
	padding: 15px;
	border-bottom: 4px solid #d9d9d9;
	border-top: 4px solid #d9d9d9;
	background: #f2f2f2;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.store-list > li + li {
	border-top: 0;
}
.store-list > li:hover {
	background: #d1d1d1;
}
.breadcrumbsLayout {
    margin: 0 auto;
    padding-right: 15px;
    width: 1200px;
	height: 90px;
}
.breadcrumbsCon, .tm-search {
    position: relative;
}
.page-not-market #mallLogo {
    width: 400px;
}
#breadcrumbs {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 0;
    min-width: 1200px;
    width: auto;
}
#breadcrumbs {
    background: #fff none repeat scroll 0 0;
    height: 122px;
    position: relative;
    width: auto !important;
    z-index: 500;
}
#mallLogo {
    float: left;
    height: 64px;
    line-height: 64px;
    padding-top: 28px;
    position: relative;
    width: 280px;
    z-index: 9;
}
#mallLogo .mlogo {
    float: left;
    margin-right: 10px;
    padding: 0;
}
.breadcrumbs-extra {
    overflow: hidden;
}
.stepbar-5, .tm-search .stepbar-5 {
    margin-left: 0;
    margin-right: -45px;
    width: 675px;
}
.order-stepbar, .tm-search .order-stepbar {
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.stepbar-5 li, .tm-search .stepbar-5 li {
    width: 135px;
}
.order-stepbar li, .tm-search .order-stepbar li {
    float: left;
    text-align: center;
}
.order-stepbar li, .tm-search .order-stepbar li {
    text-align: center;
}
ul, li {
    list-style: outside none none;
}
.order-stepbar .step-name, .tm-search .order-stepbar .step-name {
    color: #888;
    font-weight: bold;
    padding: 3px 0;
}
.order-stepbar .step-first .step-done .step-no, .tm-search .order-stepbar .step-first .step-done .step-no {
    background-position: 50% -204px;
}
.order-stepbar .step-done .step-no, .tm-search .order-stepbar .step-done .step-no {
    background-position: 50% -170px;
}
.order-stepbar .step-no, .tm-search .order-stepbar .step-no {
    color: #fff;
    font-family: "arial black";
    font-size: 18px;
    height: 34px;
    line-height: 34px;
}
.order-stepbar .step-no, .tm-search .order-stepbar .step-no,.order-stepbar .step-sub-box .step-sub, .tm-search .order-stepbar .step-sub-box .step-sub {
    background: rgba(0, 0, 0, 0) url("/static/img/T1Usl8FnRfXXcVlxZa-734-340.png") no-repeat scroll 50% -102px;
}

.nSearchWarp {
    clear: both;
    margin: 0 auto;
    width: 1200px;
}
.nSearch-crumb {
    padding: 5px 0 10px;
}

.nSearch-crumb-tit-category {
    color: #333;
    float: left;
    font-family: microsoft YaHei;
    font-size: 17px;
    font-weight: 700;
    margin-right: 9px;
}
.nSearch-crumb-category .category-name {
    background: #fff none repeat scroll 0 0;
    float: left;
    line-height: 22px;
    padding: 0 25px 0 8px;
    white-space: nowrap;
}
.nSearch-crumb-category:hover .category-name::before {
    background-position: 0 -225px;
}
.nSearch-crumb-category .category-name::before {
    background: rgba(0, 0, 0, 0) url("/search/search2017/image/search.png") no-repeat scroll -50px -225px;
    content: " ";
    float: right;
    height: 7px;
    margin: 8px -18px 0 -15px;
    width: 13px;
}
#category-second .category-name {
    padding-right: 8px;
}
#category-second .category-name::before {
    display: none;
}
.nSearch-crumb-category .category-box {
    background-color: #fff;
    border: 1px solid #fff;
    display: none;
    height: auto;
    left: -1px;
    line-height: 22px;
    padding: 12px 0 12px 8px;
    position: absolute;
    top: 21px;
    width: 350px;
    z-index: 3;
}
.nSearch-crumb-category .category-box a {
    color: #666;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65px;
}
.nSearch-crumb-category .category-box a:hover {
    color: #e3101e;
}
.nSearch-crumb-category .ckis a {
    font-weight: 700;
}
.categoryHover {
    border-color: #e3101e #e3101e #fff;
    position: relative;
    z-index: 3;
}
.category-name {
    position: relative;
    z-index: 4;
}

#category-third:hover {
    border-color: #e3101e #e3101e #fff;
    position: relative;
    z-index: 3;
}
#category-third:hover .category-name {
    position: relative;
    z-index: 4;
}
.category-name {
    background: #fff none repeat scroll 0 0;
    float: left;
    line-height: 22px;
    padding: 0 25px 0 8px;
    white-space: nowrap;
}
#category-third:hover .category-box {
    border: 1px solid #e3101e;
    display: block;
}
.nSearch-crumb-category-results {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 34px;
    line-height: 34px;
}
.nSearch-crumb-category-results .nFont14 {
    color: #5e5e5e;
    font-weight: 700;
    padding-right: 12px;
}
.nSearch-crumb-category-results .nHeigh {
    padding: 0 10px;
}
.nSearch-crumb-category .category-name::before {
    background: rgba(0, 0, 0, 0) url("/static/img/search.png") no-repeat scroll -50px -225px;
    content: " ";
    float: right;
    height: 7px;
    margin: 8px -18px 0 -15px;
    width: 13px;
}
.nSearch-crumb-facetsCurrent-warp {
    float: left;
    height: 24px;
    margin: 2px 0 0 -5px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
}
.nSearch-crumb .haschecked::before {
    background: transparent url("/static/img/search.png") no-repeat scroll -50px -205px;
    content: " ";
    float: left;
    height: 9px;
    margin: 7px 0 0 -15px;
    width: 5px;
}
.nSearch-crumb-facetsCurrent {
    font-size: 0;
    position: relative;
    white-space: nowrap;
}
.nSearch-crumb-facetsCurrent li {
    border: 1px solid #ddd;
    color: #fff;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    max-width: 300px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 0 22px 0 5px;
    word-break: break-all;
}
.nSearch-crumb-facetsCurrent a {
    color: #e3101e;
    display: inline-block;
    font: 12px/22px arial,Microsoft YaHei;
    text-decoration: none;
    white-space: nowrap;
}
.nSearch-crumb-facetsCurrent i {
    float: right;
    font-size: 13px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    margin-right: -22px;
    text-align: center;
    width: 22px;
}
.nSearch-crumb-facetsCurrent em {
    color: #5e5e5e;
}

.nSearch-crumb-category-results {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 34px;
    line-height: 34px;
}
.nSearchWarp {
    clear: both;
    margin: 0 auto;
    width: 1200px;
}

.nSearch-crumb-category-results .nFont14 {
    color: #5e5e5e;
    font-weight: 700;
    padding-right: 12px;
}
.nFont14 {
    font-size: 14px;
}

.nSearch-crumb-category-results .nHeigh {
    padding: 0 10px;
}
.nHeigh {
    color: #e3101e;
}
.nSearch-facets {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 1200px;
}
.nSearchWarp {
    background: #fff none repeat scroll 0 0;
    clear: both;
    margin: 0 auto;
    width: 1200px;
}
.facets-category {
    border-bottom: 1px solid #ddd;
    line-height: 34px;
    position: relative;
    z-index: 1;
}
.facets-category .fc-key {
    color: #5e5e5e;
    float: left;
    margin-left: 0px;
    width: 110px;
    padding-top: 5px;
}
.fc-option {
    margin: 6px 0 0;
    padding-right: 20px;
    position: absolute;
    right: -10px;
    width: 110px;
    z-index: 10;
}
.category-normal {
    max-height: 30px;
    overflow: hidden;
}

.category-normal li {
    float: left;
    padding-right: 40px;
}

.facets-category a.facet {
    color: #069;
}
.brandtype {
    overflow: hidden;
    height: auto;
    padding: 10px;
    border-bottom: 1px dashed #ddd;
}
.c-brand {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e5e5e5 #e5e5e5 -moz-use-text-color;
    border-image: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    height: 52px;
    position: relative;

}
.facets-category-common{
  border-bottom: 1px dashed #ddd;
  padding: 10px;
}
.mt10{
    margin-top: 10px;
}
.sort-row li {
    float: left;
    margin-right: 30px;
    padding: 10px;
}
.entry-media {
   width: 292px;
   height: 320px;
}

#listsrp-nav{
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.brand_noshow {display: none}
.brand_show {display: block}