{% extends "account/base_account.html" %}

{% block title %}我的购物车信息{% endblock %}

{% block content %}

<div class="orderContainer pt20 mb20">
   <div id="sMenu" class="menuSidebar">
	  {% include 'account/leftmenu.html' %}
</div>
        <div class="pageContent">
            <div class="mcTitle">
                <ul class="user_tab1 fl">
                    <li class="curr">我的购物车</li>
                </ul>
            </div>

            <!-- =E mcSecrchBar -->

			<div class="tabBox_wddd mb20">
				<table cellspacing="0" class="mcTab">
					<colgroup>

                        <col width="350">
                        <col width="90">

                        <col width="130">
                        <col width="80">
                        <col width="110">
					</colgroup>
					<thead>
						<tr class="tdata">

							<th>
								<span class="pl140">商品名称</span>
							</th>
							<th>
								<span>价格</span>
							</th>
                            <th>
								<span>数量</span>
							</th>
                             <th>
								<span>金额</span>
							</th>

							<th>
								<span>操作</span>
							</th>
						</tr>
					</thead>
					<tbody>
                      {% for item in cart_list%}
						<tr>
							<td>
                               <dl class="picTxt clearfix">
                                   <dt class="fl"><a  href="" class="pic fl mr10">
                                                    <img width="106" height="80" src="{{item.products.image.url}}"></a></dt>
                                   <dd class="txt fl ml15">
                                                    <a target="_blank" href="">{{item.products.name }}</a>
                                            </dd>
                               </dl>
							</td>
							<td>
								<span>{{item.products.saleprice}}</span>
							</td>
                            <td>
								<span>{{item.products_count}}</span>
							</td>
                            <td>
								<span>{{item.get_total_price}}</span>
							</td>

							<td>
                                   <p><a class="post_btn" href="{% url "order_create" %}?product_ids={{item.products.id }}">支付</a></p>
                                   <p><a class="post_btn" href="{% url "cart_delete"  %}?id={{item.id }}">取消</a></p>
							</td>
						 </tr>
                       {% endfor%}
						</tbody>
                </table>
            </div>

        </div>

    </div>



{% endblock %}