{% extends "account/base_account.html" %}

{% block title %}设置密码{% endblock %}

{% block content %}
<body>
<div class="orderContainer pt20 mb20">

    <div id="sMenu" class="menuSidebar">
        <!-- =E smenu 侧边导航 -->
        {% include 'account/leftmenu.html' %}

    </div>
    <div class="pageContent">

       <div id="profile" class="sns-config">
           <div class="mcTitle">
                <ul class="user_tab1 fl">
                    <li class="curr">设置密码</li>
                </ul>
            </div>

           {% if status != 200  %}
                       <script language="javascript" type="text/javascript">
                               alert("${msg}");
                       </script>
           {% else %}
                      {% if status == 200%}
                        <script language="javascript" type="text/javascript">
                               alert("密码修改成功");
                        </script>
                      {% endif%}
            {% endif%}
            <div class="sns-box box-detail">
            <div class="bd">
                <div class="sns-nf">

                <form id="pwForm" name="pwForm" method="post" action="{% url "updatepassword" %}" class="infoForm">
                     <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div id="main-profile" class="parts">

                        <p>
                            <span>当前登录密码：</span>
                            <input id="oldpassword" name="oldpassword" class="f-txt" type="password" value="" maxlength="12"><span style="color: #f00;" >*</span>
                        </p>

                         <p>
                            <span>新的登录密码：</span>
                            <input id="newpassword" name="newpassword" class="f-txt" type="password" value="" style="width: 136px;"  maxlength="12"><span style="color: #f00;">*</span>
                         </p>
                        <p>
                            <span>确认新的密码：</span>
                            <input id="newpassword2" name="newpassword2" class="f-txt" type="password" value="" style="width: 136px;"maxlength="12"><span style="color: #f00;">*</span>
                         </p>

                    </div>
                    <div class="act skin-blue">
                        <span class="btn n-btn">
                            <button type="submit" id="J_saveProfile" onclick="check()">保存</button>
                            <div style="width:1px; height:1px; overflow:hidden; ">
                                <input type="submit">
                            </div>
                        </span>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>


   </div>

</div>
</body>
<script language="javascript">
    function check() {
        var userPwReal="";
        var msg="";
        var checkinput;
        if(document.pwForm.oldpassword.value =="") {
            msg="原密码不能空"; checkinput = false;  alert(msg);return;
        }
        if(document.pwForm.newpassword.value =="") {
            msg="新密码不能空"; checkinput = false;  alert(msg);return;
        }
        if(document.pwForm.newpassword.value == document.pwForm.oldpassword.value ) {
            msg="原密码和新密码不能一样"; checkinput = false;  alert(msg);return;
        }
        if(document.pwForm.newpassword.value != document.pwForm.newpassword2.value) {
            msg="两次输入的密码不一致"; checkinput = false;  alert(msg);return;
        }

        if (checkinput == false){
           // alert(msg);
        }
        else{
            pwForm.submit;
        }
    }
</script>
{% endblock %}